<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Publish Message</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-input [(ngModel)]="language" placeholder="Enter language">
    </ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-input [(ngModel)]="imageLink" placeholder="Enter Image URL">
    </ion-input>
  </ion-item>
  <ion-item lines="none">
    <!-- <ion-icon src="../../../assets/balloons.svg"></ion-icon> -->
    <ion-input [(ngModel)]="subject" placeholder="Enter message subject">
    </ion-input>
  </ion-item>
  <ion-item lines="none">
    <!-- <ion-icon src="../../../assets/balloons.svg"></ion-icon> -->
    <!-- <ion-textarea (ionChange)="checkTextAreaInput($event)" mode="ios" wrap="hard" autoGrow="true" id="messageBody"
      #messageBody placeholder="Enter message body">
    </ion-textarea> -->
    <ejs-richtexteditor [(ngModel)]="messageBody" [toolbarSettings]='tools'></ejs-richtexteditor>

  </ion-item>
  <ion-button (click)="submit()">Submit</ion-button>
</ion-content>