ion-card-header
{
    background : #E8E8E8;
    border : 0.6px solid black;
    border-radius : 10px;
}

.cardDiv
{
    background : #E8E8E8;
    border : 0.6px solid black;
    border-radius : 10px;
    padding : 5px
}